<div class="row">

    <div class="article-list">
        {{#each container}}
        <div class="article " data-id="{{id}}">
            <div class="content">
                <div class="article-title text-center mt-4 mb-4 fs-4">{{nombre}}</div>
                <div class="image" style="background-image: url({{urlImagen}});"></div>
                <div class="article-title fs-4 ps-2 mt-2 mb-2">Precio</div>
                <div class="article-price">
                    <span class="article-price-currency">$</span>
                    <span class="article-price-value">{{precio}}</span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
 </div>

</div>
